<div class="flex-container">
  <h2>Latest</h2>
  <mat-divider></mat-divider>
  <div class="cards">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Product Name</mat-card-title>
      <mat-card-subtitle>Category</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <i class="material-icons">local_offer</i>
      <i class="material-icons" style="float: right">star_half</i>
      <i class="material-icons" style="float: right">share</i>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Product Name</mat-card-title>
      <mat-card-subtitle>Category</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <i class="material-icons">local_offer</i>
      <i class="material-icons" style="float: right">star_half</i>
      <i class="material-icons" style="float: right">share</i>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Product Name</mat-card-title>
      <mat-card-subtitle>Category</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <i class="material-icons">local_offer</i>
      <i class="material-icons" style="float: right">star_half</i>
      <i class="material-icons" style="float: right">share</i>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Product Name</mat-card-title>
      <mat-card-subtitle>Category</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <i class="material-icons">local_offer</i>
      <i class="material-icons" style="float: right">star_half</i>
      <i class="material-icons" style="float: right">share</i>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Product Name</mat-card-title>
      <mat-card-subtitle>Category</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <i class="material-icons">local_offer</i>
      <i class="material-icons" style="float: right">star_half</i>
      <i class="material-icons" style="float: right">share</i>
    </mat-card-actions>
  </mat-card>
  </div>
  </div>